<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Yakult.Inventory.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- API Configuration - Change this when your server IP changes -->
    <add key="ApiBaseUrl" value="http://192.168.12.9:80" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

	<connectionStrings>
  <add name="Yakult.Inventory.App.Properties.Settings.Yakult_Inventory_SystemConnectionString"
   connectionString="Data Source=192.168.12.9,1433;Initial Catalog=;User ID=;Password=;Encrypt=False;TrustServerCertificate=True" />
  <add name="Yakult.Inventory.App.Properties.Settings.Yakult_Inventory_System_DEVConnectionString"
   connectionString="Data Source=192.168.12.9,1433;Initial Catalog=Yakult_Inventory_System_DEV;Persist Security Info=True;User ID=remote_user;Encrypt=False;TrustServerCertificate=True"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>

	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity
     name="System.Memory"
     publicKeyToken="cc7b13ffcd2ddd51"
     culture="neutral" />
			<bindingRedirect
     oldVersion="0.0.0.0-4.0.1.2"
     newVersion="4.0.1.2" />
		</dependentAssembly>

		<dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.47.1.0" newVersion="1.47.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Yakult.Inventory.App.Properties.Settings>
      <setting name="DbConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewUpdates_DateFrom" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
      <setting name="ViewUpdates_DateTo" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
      <setting name="ViewUpdates_StatusIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ViewUpdates_SetCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewUpdates_Search" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewUpdates_ProblemsOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewUpdates_PageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ViewUpdates_SortKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewUpdates_SortOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemMovementAudit_DateFrom" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
      <setting name="ItemMovementAudit_DateTo" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
      <setting name="ItemMovementAudit_ViewMode" serializeAs="String">
        <value>Latest only</value>
      </setting>
      <setting name="ItemMovementAudit_Direction" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ItemMovementAudit_Source" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ItemMovementAudit_Category" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ItemMovementAudit_Type" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="ItemMovementAudit_Serial" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemMovementAudit_SetCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemMovementAudit_User" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemMovementAudit_Search" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemMovementAudit_PageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ItemMovementAudit_TopRows" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ItemMovementAudit_SortKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemMovementAudit_SortOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ViewReceipts_StatusIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ViewReceipts_PageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ViewReceipts_SortKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewReceipts_SortOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ViewReceipts_SearchText" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewReceipts_FilterByIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ViewReceipts_Supplier" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewReceipts_CreatedFromEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewReceipts_CreatedFrom" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
      <setting name="ViewReceipts_CreatedToEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewReceipts_CreatedTo" serializeAs="String">
        <value>0001-01-01</value>
      </setting>
    </Yakult.Inventory.App.Properties.Settings>
  </userSettings>
</configuration>